*{
    margin: 0;
    padding: 0;
    background-color:pink;
  }
  .hero{
    height: 100vh;
    width: 100%;
    background: #edf2ec;
    font-family: sans-serif;
    position: relative;
  
  }
  nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between ;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
  }
  nav ul li a{
    text-decoration: none;
    color: #000000;
  }
  nav ul li a:hover{
    color: #ff4321;
  }
  .info{
    margin-left: 5%;
    margin-top: 15%;
  }
  .info h1{
     font-size: 40px;
     color: #212121;
     margin-bottom: 20px;
  }
  span{
    color:#ff4321;
  }
  p{
    font-size: 20px;
  }
  .img-box{
    width: 45%;
    height:80%;
    position: absolute;
    bottom: 0;
    right: 100px;
  }
  .img-box img{
    height: 70vh;
    position: absolute;
    left: 30%;
    bottom: 40;
    transform: translateX(-50%);
    transition: bottom 1s, left;
  }
  .img-box:hover .my-img{
    left: 54%;
  }
.img-box img{
     border-radius:40%;
}
  
  
